# PYTHON TASK-1

In [ ]:
#print statements
#Formatted output
q = 459
p = 0.098
print(q, p, p * q)

In [2]:
print(q, p, p * q, sep=",")

459,0.098,44.982

In [3]:
print(q, p, p * q, sep=" :-) ")

459 :-) 0.098 :-) 44.982

In [4]:
print(str(q) + " " + str(p) + " " + str(p * q))

459 0.098 44.982

In [5]:
print("%10.3e"% (356.08977))

 3.561e+02

In [6]:
print("%10.3o"% (25))

       031

In [7]:
#Raw Type
s = 'Hi\nHello'
print(s)

Hi
Hello

In [8]:
raw_s = r'Hi\nHello'
print(raw_s)

Hi\nHello

In [10]:
s = r'Hi\xHello'
print(s)

Hi\xHello

In [11]:
s = r'\''
print(s)

s = r'ab\\'
print(s)

s = R'\\\"'  # prefix can be 'R' or 'r'
print(s)

\'
ab\\
\\\"

In [14]:
#data types
x = 5
print(type(x))

<class 'int'>

In [15]:
a=0.5
print(type(a))

<class 'float'>

In [16]:
b="lasya"
print(type(b))

<class 'str'>

In [17]:
a={1,2,3,4,5}
print(type(a))

<class 'set'>

In [18]:
a=(1,2,3,4,5)
print(type(a))

<class 'tuple'>

In [19]:
a=[1,2,3,4,5]
print(type(a))

<class 'list'>

In [ ]:
#string append-1)using string.join() 2) using python f-strings

In [22]:
#using +=
name="lasya"
initial="ukkusuri"
print("name: " + str(name))

print("initial : " + str(initial))
name+=initial
print("full name is: " + name)

name: lasya
initial : ukkusuri
full name is: lasyaukkusuri

In [27]:
#using join
name="lasya"
initial="ukkusuri"
print("name: " + str(name))
print("initial : " + str(initial))
fullname=[initial,name]
fname="".join(fullname)
print("NAME : " +fname)

name: lasya
initial : ukkusuri
NAME : ukkusurilasya

In [1]:
#f-strings
s1 = 'Hello'
s2 = 'World'

s3 = f'{s1} {s2}'
print('String Concatenation using f-string =', s3)

String Concatenation using f-string = Hello World

In [ ]:
#Python Variables

In [2]:
x = 5
y = "lasya"
print(x)
print(y)

5
lasya

In [3]:
x = 4       # x is of type int
x = "lasya" # x is now of type str
print(x)

lasya

In [4]:
x = str(3)    # x will be '3'
y = int(3)    # y will be 3
z = float(3)  # z will be 3.0
print(x)
print(y)
print(z)

3
3
3.0

In [ ]:
#Python Loops

In [5]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
    print(x)

apple
banana
cherry

In [6]:
for x in "banana":
    print(x)

b
a
n
a
n
a

In [17]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
    print(x)
    if x == "banana":
        break

apple
banana